# LaLiga Assignment

Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.

### 1.Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)

In [2]:
import numpy as np
import pandas as pd

In [3]:
## Data Inport
data = pd.read_csv('Laliga.csv', header = 1,
index_col = 0, parse_dates= True)

In [4]:
## Overview
data.shape

(61, 19)

In [5]:
data.size

1159

In [6]:
data.head()

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [7]:
data = data.rename(columns = {'Since/LastApp':'Last App'})

In [8]:
data.tail()

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Last App,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

## Processing

In [9]:
## checking for NUll Values

data.isnull().head()
data.isnull().tail()

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Last App,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
57,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
58,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
59,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
## '-' has to be replaced by 0
columns = data.columns
columns

Index(['Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon', 'GamesDrawn',
       'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion', 'Runner-up',
       'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut', 'Last App',
       'BestPosition'],
      dtype='object')

In [11]:
data.head()

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Last App,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [12]:
## Replacing '-' with 0
Correct = data['Champion'].replace('-', 0)

In [13]:
data['Champion'] = Correct

In [14]:
data.tail() ## Working

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Last App,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
57,Xerez,1,34,38,8,10,20,38,66,0,-,-,-,-,-,-,2009-10,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,0,-,-,-,-,-,-,1956-57,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,-,-,-,-,-,-,1951-52,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,-,-,-,-,-,-,1955-56,1955-56,15
61,Girona,1,-,-,-,-,-,-,-,0,-,-,-,-,-,-,2017-18,2017-18,9

In [15]:
#data[columns[10:16]
data = data[columns[:20]].replace('-', 0)

In [16]:
data

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Last App,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

### 2. Print all the teams which have started playing between 1930-1980. (5 points)

In [17]:
data[(data['Debut'] > '1930') & (data['Last App'] < '1980')]

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Last App,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15

### 3. Print the list of teams which came Top 5 in terms of points (2.5 points)

In [19]:
top5 = data.loc[1:5, ['Team']]
top5

                Team
Pos
1        Real Madrid
2          Barcelona
3    Atletico Madrid
4           Valencia
5    Athletic Bilbao

In [20]:
type(top5)

pandas.core.frame.DataFrame

In [21]:
print(top5['Team'].tolist())

['Real Madrid', 'Barcelona', 'Atletico Madrid', 'Valencia', 'Athletic Bilbao']

### Processing Objects to int for calculation

In [23]:
data.dtypes

Team            object
Seasons          int64
Points          object
GamesPlayed     object
GamesWon        object
GamesDrawn      object
GamesLost       object
GoalsFor        object
GoalsAgainst    object
Champion        object
Runner-up       object
Third           object
Fourth          object
Fifth           object
Sixth           object
T               object
Debut           object
Last App        object
BestPosition     int64
dtype: object

In [24]:
data = data.astype({'GoalsFor':int  , 'GoalsAgainst': int, 'GamesPlayed' : int, 'GamesWon' : int, 'GamesLost' : int})

In [25]:
data = data.infer_objects()
print(data.dtypes)

Team            object
Seasons          int64
Points          object
GamesPlayed      int32
GamesWon         int32
GamesDrawn      object
GamesLost        int32
GoalsFor         int32
GoalsAgainst     int32
Champion        object
Runner-up       object
Third           object
Fourth          object
Fifth           object
Sixth           object
T               object
Debut           object
Last App        object
BestPosition     int64
dtype: object

### 4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)

In [29]:
def Goal_diff_count(data):
        for team in data['Team']:
            data['Goal_diff_count'] = data['GoalsFor'] - data['GoalsAgainst']
            return data[['Team', 'Goal_diff_count']]

In [30]:
Goal_diff_count(data)

                 Team  Goal_diff_count
Pos
1         Real Madrid             2807
2           Barcelona             2786
3     Atletico Madrid             1225
4            Valencia              929
5     Athletic Bilbao              931
..                ...              ...
57              Xerez              -28
58             Condal              -20
59    Atletico Tetuan              -34
60   Cultural Leonesa              -31
61             Girona                0

[61 rows x 2 columns]

In [32]:
Goal_diff_count(data).max()

Team               Zaragoza
Goal_diff_count        2807
dtype: object

In [33]:
Goal_diff_count(data).min()

Team               AD Almeria
Goal_diff_count          -525
dtype: object

### 5. Create a new column with name “Winning Percent” and append it to the data set (5 points)

In [38]:
def Winning_percent(data):
    for team in data["Team"]:
        data['Winning Percentage'] = (data['GamesWon'] / data['GamesPlayed']) / 100
        return data[['Team', 'GamesWon', 'GamesPlayed', 'Winning Percentage']]

In [39]:
Winning_percent(data)

### Print the top 5 teams which has the highest Winning percentage

In [43]:
Win_percent = data.sort_values(by =['Winning Percentage'],  ascending = False)

In [47]:
Win_percent.loc[1:5,['Team', 'Winning Percentage']]

                Team  Winning Percentage
Pos
1        Real Madrid            0.005963
2          Barcelona            0.005724
3    Atletico Madrid            0.004748
4           Valencia            0.004456
5    Athletic Bilbao            0.004377

In [48]:
data.head()

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,...,Third,Fourth,Fifth,Sixth,T,Debut,Last App,BestPosition,Goal_diff_count,Winning Percentage
Pos,,,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,...,8,8,3,4,79,1929,1929,1,2807,0.005963
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,...,12,12,4,6,83,1929,1929,1,2786,0.005724
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,...,16,9,7,6,56,1929,2002-03,1,1225,0.004748
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,...,10,11,10,7,50,1931-32,1987-88,1,929,0.004456
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,...,10,5,8,10,49,1929,1929,1,931,0.004377

### 6. Group teams based on their “Best position” and print the sum of their points for all positions (10 points)

In [49]:
data['BestPosition'].unique()

array([ 1,  3,  2,  4,  6,  8,  5, 11,  7, 12, 10, 17,  9, 19, 14, 16, 20,
       15], dtype=int64)

In [53]:
#data[data['BestPosition'] == 2]

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,...,Third,Fourth,Fifth,Sixth,T,Debut,Last App,BestPosition,Goal_diff_count,Winning Percentage
Pos,,,,,,,,,,,,,,,,,,,,,
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,...,4,5,4,4,18,1939-40,2012-13,2,-164,0.003515
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,...,1,2,0,1,5,1929,2011-12,2,-525,0.003172
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,...,1,2,2,1,7,1944-45,2015-16,2,-399,0.003230
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,...,1,1,1,1,5,1951-52,2015-16,2,-399,0.003349
21,Villarreal,17,970,646,266,172,208,892,789,0,...,1,2,3,2,9,1998-99,2013-14,2,103,0.004118

In [132]:
grouped_teams = data.groupby('BestPosition')['Team'].apply(list).reset_index(name = 'Teams')

In [133]:
type(grouped_teams)

pandas.core.frame.DataFrame

In [134]:
grouped_teams.set_index('BestPosition', inplace = True)

In [135]:
grouped_teams

                                                          Teams
BestPosition
1             [Real Madrid, Barcelona, Atletico Madrid, Vale...
2             [Zaragoza, Racing Santander, Sporting Gijon, L...
3                          [Espanyol, Oviedo, Mallorca, Arenas]
4             [Celta Vigo, Valladolid, Osasuna, Malaga, Saba...
5                          [Elche, Hercules, Tenerife, Cordoba]
6                [Granada, Getafe, Alaves, Levante, Real Union]
7             [Salamanca, Logrones, Albacete, Pontevedra, Gi...
8                 [Rayo Vallecano, Almeria, Recreativo, Europa]
9                                         [Real Burgos, Girona]
10                    [Compostela, Eibar, Alcoyano, AD Almeria]
11                                                     [Murcia]
12                                           [Cadiz, Burgos CF]
14                                                       [Jaen]
15                                           [Cultural Leonesa]
16                            [Lleida, Condal, Atletico Tetuan]
17                             [Numancia, Extremadura, Leganes]
19                                                     [Merida]
20                                                      [Xerez]

In [139]:
## Past winners
grouped_teams.loc[1]

Teams    [Real Madrid, Barcelona, Atletico Madrid, Vale...
Name: 1, dtype: object